In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
Data=pd.read_csv(r"C:\Users\vighnesh nirgude\Downloads\Raw Sales Data.csv")

In [3]:
Data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"
...,...,...,...,...,...,...,...
219,01-Mar-21,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509,"1,65,426"
220,01-Mar-21,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542,"2,48,830"
221,01-Mar-21,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645,"1,40,907"
222,01-Mar-21,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,"1,242","4,36,043"
223,01-Mar-21,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971,"5,82,600"

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [5]:
#converting Data Type of "QTY" and "Sales" from object to float and removing comma's from value
Data["Sales"]=Data["Sales"].str.replace(",","").astype(float)

In [6]:
Data["Qty"]=Data["Qty"].str.replace(",","").astype(float)

In [7]:
#converting "month" to datetime formate"
Data["Month"]=pd.to_datetime(Data["Month"])

In [8]:
#now changing "month (datetime format) " to "month name"(alphabetical format) and storing it into new column "month sales"
Data["Month sales"]=Data["Month"].dt.month_name(locale="english")

In [9]:
#now removing numerical values from behind from product name for accurate calculation
Data["product"]=Data["Product Name"].apply(lambda x:re.split("(\d+)",x)[0])

In [10]:
Data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month sales,product
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0,December,ALOE + AMLA JUICE
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0,December,ALOE + GARCINIA JUICE
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0,December,ALOE VERA JUICE
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0,December,ALOE VERA SKIN GEL
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0,December,NEEM JUICE
...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,165426.0,March,ORGANIC GULKAND
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,248830.0,March,ALOE + GARCINIA JUICE
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,140907.0,March,AMLA JUICE
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,436043.0,March,GET SLIM JUICE
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,582600.0,March,RAW HONEY ( MADHU)

### REQUIREMENT 1 = Monthwise number of quantities sold

In [11]:
D1=pd.DataFrame(Data.groupby(Data["Month"])["Qty"].sum()).reset_index()

In [12]:
D1

       Month      Qty
0 2020-12-01  85427.0
1 2021-01-01  67732.0
2 2021-02-01  76393.0
3 2021-03-01  80229.0

### REQUIREMENT 2 = Category wise Qty sold

In [13]:
D2=pd.DataFrame(Data.groupby(Data["Category"])["Qty"].sum()).reset_index()

In [14]:
D2

               Category       Qty
0  Functional nutrition   42354.0
1     Gourmet Nutrition   89279.0
2                Juices  178148.0

### REQUIREMENT 3 = Sub-channel wise total sales

In [15]:
D3=pd.DataFrame(Data.groupby(Data["Sub-Channels"])["Qty"].sum()).reset_index()

In [16]:
D3

         Sub-Channels      Qty
0              AMAZON  98130.0
1          Big Basket   7340.0
2                 D2C  42780.0
3            Flipkart  11121.0
4               GOQII    971.0
5   Offline - Central   6096.0
6      Offline - East   8452.0
7        Offline - MT  40219.0
8     Offline - South  30864.0
9      Offline - West  52099.0
10     Offline -North  11709.0

### REQUIREMENT 4 = Highest sale in which month

In [17]:
D4=pd.DataFrame(Data.groupby(Data["Month sales"])["Sales"].sum()).reset_index()

In [18]:
D4.head(1)

  Month sales       Sales
0    December  19738841.0

# REQUIREMENT 5 = Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
# JUICE 1 L" and "GET SLIM JUICE 500 ML" as one prduct

In [19]:
D5=pd.DataFrame(Data.groupby(Data["product"]).sum().sort_values("Sales",ascending=False)).head()

In [20]:
D5.head()

                            Qty       Sales
product
ALOE + GARCINIA JUICE   23585.0  12249252.0
HIMALAYA OIL             8009.0  12000055.0
GET SLIM JUICE          24731.0   9122552.0
ALOE VERA JUICE         28788.0   6024517.0
AMLA JUICE              34378.0   5862740.0

# REQUIREMENT 6 = List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET
# SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [21]:
D6=pd.DataFrame(Data.groupby(["Sub-Channels","product"]).sum()["Sales"])

In [22]:
D6.sort_values(["Sub-Channels","Sales"],ascending=False)

                                                   Sales
Sub-Channels   product
Offline -North APPLE CIDER VINEGAR              431146.0
               ALOE VERA SKIN GEL               365032.0
               ORGANIC JAGGERY POWDER           146097.0
               AMLA JUICE                        95019.0
               ALOE VERA JUICE                   90059.0
...                                                  ...
AMAZON         TRIPHALA JUICE                   798749.0
               APPLE CIDER VINEGAR              736143.0
               NEEM JUICE                       704106.0
               AMLA + GILOY JUICE               217029.0
               MASALA SUPERGRAIN MIX IMMUNITY   159496.0

[85 rows x 1 columns]

In [23]:
# Now saving the file in Excel file
writer = pd.ExcelWriter("Row_data_sales_analytics.xlsx", engine="xlsxwriter")
Data.to_excel(writer, sheet_name="Data",index=True)   
D1.to_excel(writer, sheet_name="Month Quantity Sold",index=True)
D2.to_excel(writer, sheet_name="Category QTY Sold",index=True)
D3.to_excel(writer, sheet_name="sub-channel sales",index=True)
D4.to_excel(writer, sheet_name="Month Highest sales",index=True)
D5.to_excel(writer, sheet_name="Highest selling product",index=True)
D6.to_excel(writer, sheet_name="Sub-Channel and product",index=True) 
writer.save()
Data

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Month sales,product
0,2020-12-01,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116.0,428700.0,December,ALOE + AMLA JUICE
1,2020-12-01,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003.0,1374831.0,December,ALOE + GARCINIA JUICE
2,2020-12-01,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962.0,732167.0,December,ALOE VERA JUICE
3,2020-12-01,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004.0,377100.0,December,ALOE VERA SKIN GEL
4,2020-12-01,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555.0,152287.0,December,NEEM JUICE
...,...,...,...,...,...,...,...,...,...
219,2021-03-01,Marketplace,Big Basket,ORGANIC GULKAND 300grams,Gourmet Nutrition,509.0,165426.0,March,ORGANIC GULKAND
220,2021-03-01,Marketplace,Flipkart,ALOE + GARCINIA JUICE 1 L,Juices,542.0,248830.0,March,ALOE + GARCINIA JUICE
221,2021-03-01,Marketplace,Flipkart,AMLA JUICE 1 L,Juices,645.0,140907.0,March,AMLA JUICE
222,2021-03-01,Marketplace,Flipkart,GET SLIM JUICE 1 L,Juices,1242.0,436043.0,March,GET SLIM JUICE
223,2021-03-01,Marketplace,GOQII,RAW HONEY ( MADHU) 500 GRAMS,Gourmet Nutrition,971.0,582600.0,March,RAW HONEY ( MADHU)